.type-303 {
  background-image: url('../images/bg_pattern.png');
}
.type-303 .prof_profile {
  margin-top: 55px;
  background: #fff;
}
.type-303 .prof_profile img {
  width: 100%;
  max-width: 100%;
}
.type-303 .prof_profile .prof_ide {
  background: #f5ce31;
  position: relative;
}
.type-303 .prof_profile .prof_ide .prof_fullname {
  font-weight: 800;
  text-transform: capitalize;
  border-right: 1px #333 solid;
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
.type-303 .prof_profile .prof_ide .prof_title {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-style: italic;
  padding-left: 15px;
}
.type-303 .prof_profile .prof_ide:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  border-width: 12px 12px 0;
  border-style: solid;
  border-color: #f5ce31 transparent;
  display: block;
  width: 0;
}
.type-303 .prof_profile .prof_contact {
  padding: 30px;
  font-style: italic;
}
.type-303 .prof_profile .prof_contact .prof_dep {
  font-weight: bold;
  font-size: 1.2em;
}
.type-303 .prof_profile .prof_contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.type-303 .prof_profile .prof_contact ul li {
  padding: 5px 0;
}
.type-303 .prof_profile .crossedbg {
  background: url(../images/bg_cr_grey.png);
  height: 15px;
}
.type-303 .col-md-8,
.type-303 .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .type-303 .profile {
    width: 960px;
    padding: 0;
  }
  .type-303 .prof_ide {
    padding: 30px;
  }
  .type-303 .prof_fullname {
    font-size: 1.8em;
  }
  .type-303 .prof_title {
    font-size: 1.2em;
  }
  .type-303 .prof_ava {
    padding-left: 15px;
  }
  .type-303 .prof_info {
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .type-303 .prof_ide {
    padding: 15px;
  }
  .type-303 .prof_fullname {
    font-size: 1em;
  }
  .type-303 .prof_title {
    font-size: 0.7em;
  }
  .type-303 .container {
    padding: 0;
  }
}
