/nbproject/private/
/blocks/nbproject/private/
/blocks/type-k-1/nbproject/private/
/blocks/type-k-2/nbproject/private/
/blocks/type-k-3/nbproject/private/
/blocks/349 - Copy/nbproject/private/
/blocks/361/nbproject/private/
/blocks/362/nbproject/private/
/blocks/363/nbproject/private/