.type-303{
    background-image: url('../images/bg_pattern.png');
    .prof_profile {
        margin-top: 55px;     
        background: #fff;
        img {
                width: 100%;
                max-width: 100%;
            }
        .prof_ide {
            background: #f5ce31;            
            position: relative;
            .prof_fullname {
                font-weight: 800;
                text-transform: capitalize;
                border-right: 1px #333 solid;
                display: table-cell;
                vertical-align: middle;
                padding-right: 15px;
            }
            .prof_title {
                display: table-cell;
                vertical-align: middle;
                
                text-transform: uppercase;
                font-style: italic;
                padding-left: 15px;
            }
        }
        .prof_ide:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 30px;
            border-width: 12px 12px 0;
            border-style: solid;
            border-color: #f5ce31 transparent;
            display: block;
            width: 0;
        }
        .prof_contact {
            padding: 30px;
            font-style: italic;
            .prof_dep {
                font-weight: bold;
                font-size: 1.2em;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-top: 15px;
                li {
                    padding: 5px 0;
                }
            }
        }
        .crossedbg {
            background: url(../images/bg_cr_grey.png);
            height: 15px;
        }
    }
    
    
    .col-md-8, .col-md-4{
        padding-left: 0;
        padding-right: 0;
    }
    /*-------REPONSIVE----------*/
   
    @media (min-width: 992px){
        
    }
    @media (min-width: 768px){       
        .profile{
            width: 960px;
            padding: 0;
        }
        .prof_ide {
            padding: 30px;
        }
        .prof_fullname {
            font-size: 1.8em;
        }
        .prof_title {
            font-size: 1.2em;
        }
        .prof_ava {
            padding-left: 15px;
            
        }
        .prof_info{
            padding-right: 15px;
        }
    }
    @media (max-width: 768px){
        .prof_ide {
            padding: 15px;
        }
        .prof_fullname {
            font-size: 1em;
        }
        .prof_title {
            font-size: 0.7em;
        }
        .container{
            padding: 0;
        }
    }
    @media (max-width: 480px){
        
    }
    /*-------END REPONSIVE----------*/
}

