.type-303{
    background-image: url('../images/bg_pattern.png');
    
    /*-------REPONSIVE----------*/
    @media (min-width: 1200px){
        
        .container {
            width: 960px;
        }
    }
    @media (min-width: 992px){
        
    }
    @media (min-width: 768px){
        
    }
    @media (max-width: 768px){
        .profile{
            width: 960px;
        }
    }
    @media (max-width: 480px){
        .profile{
            padding: 0;
        }
    }
    /*-------END REPONSIVE----------*/
}

