.type-325 {
  background: url(../images/bg_pattern.png) repeat;
  font-family: 'Open Sans', sans-serif;
}
.type-325 a:hover,
.type-325 a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.type-325 .list_new_view {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.type-325 .list_new_view .top_news_block_desc {
  font-size: 0.9em;
  padding: 15px;
}
.type-325 .list_new_view .top_news_block_desc .topnewstime {
  padding-left: 15px;
  margin-top: 12px;
  text-align: center;
  padding-left: 0;
}
.type-325 .list_new_view .top_news_block_desc h4 {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.type-325 .top_news_block_thumb img {
  max-width: 100%;
  width: 100%;
}
.type-325 .topnewsdate {
  font-family: 'Prata', serif;
  font-size: 3.1em;
  line-height: 1em;
  margin-left: 15px;
}
.type-325 .topnewsmonth {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-left: 15px;
}
.type-325 .shortdesc {
  border-left: 1px solid #666;
}
@media (min-width: 992px) {
  .type-325 .sidebar {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .type-325 .sidebar {
    width: 960px;
  }
}
@media (max-width: 480px) {
  .type-325 .sidebar {
    padding: 0;
  }
}
