.type-332 {
  background: url(../images/bg_pattern.png) repeat;
  font-family: 'Open Sans', sans-serif;
}
.type-332 a:hover,
.type-332 a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.type-332 .panel {
  background: none;
  box-shadow: none;
}
.type-332 .panel-default {
  border: none;
}
.type-332 .panel-heading {
  border: none !important;
  background: none !important;
  padding: 20px 0 0;
}
.type-332 .panel-heading h2 {
  font-weight: 800;
  font-size: 1.8em;
}
.type-332 .panel-heading h2>span {
  font-weight: normal;
  font-size: 1em;
}
.type-332 .crossedbg {
  background: url(../images/bg_cr_grey.png);
  height: 15px;
}
.type-332 .panel-body {
  background: #fff;
}
@media (min-width: 992px) {
  .type-332 .address {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .type-332 .address {
    width: 960px;
  }
}
@media (max-width: 480px) {
  .type-332 .address {
    padding: 0;
  }
}
