.type-38-4 {
/////////////4/////////////////
.text-center {
    text-align: center;
}
section {
    padding: 80px 0;
}
.container {
    max-width: 100% !important;
    width: 1170px !important;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.label {
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0 15px;
    line-height: 28px;
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.label-default {
    background-color: #ffda44;
}
////////phan tach ra/////////////
h2 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h2 {
    font-style: normal;
    line-height: 1.1;
}
h2.title-2 {
    font-size: 40px;
    color: #093EB6;
    font-weight: bold;
    margin: 0;
}
element.style {
    font-family: Roboto;
    margin-top: 20px;
    margin-bottom: 20px;
}
element.style {
    height: 50px;
}
.spacer {
    display: block;
    clear: both;
    overflow: hidden;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px){
.col-md-4 {
    width: 33.33333333%;
}
}
@media (min-width: 992px){
.col-md-4 {
float: left;
}
}
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
blockquote {
font-style: italic;
transition: 0.5s ease all;
}
.home-testimonials blockquote {
    background: #ffffff;
    font-size: 19px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #677078;
    line-height: 1.684;
    text-align: left;
    border: none;
    margin: 0 0 50px;
    padding: 40px 33px;
    position: relative;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h4 {
    font-style: normal;
}
h4.client-name {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #093eb6;
    font-weight: bold;
    line-height: 1.4;
    margin: 10px 0;
    text-align: center;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
p {
    font-size: 16px;
    line-height: 1.688;
}
p {
    color: #677078;
}
p.designation {
    text-align: center;
    margin: 0;
    float: none;
    width: 100%;
}

}