.type-395 .title-our {
  text-align: center;
  margin-top: 100px;
}
.type-395 .title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #093EB6;
  font-weight: bold;
  margin-top: 20px;
}
.type-395 .partner-images {
  border-radius: 3px;
  border: 1px solid rgba(244,244,244,0.8);
  background: #ffffff;
  text-align: center;
  line-height: 100px;
}
.type-395 .type_slider #owl-demo .item {
  margin: 3px;
}
.type-395 .type_slider #owl-demo .item img {
  display: block;
  width: auto;
  height: auto;
}
.type-395 .type_slider .content {
  width: 1180px;
  margin: auto;
}
.type-395 .type_slider .owl-theme {
  margin-top: 10px;
  text-align: center;
  display: none;
}
.type-395 .type_slider .owl-theme span,
.type-395 .type_slider :hover span {
  dislay: none;
}
.type-395 .type_slider .owl-controls .owl-page {
  display: none;
}
@media (max-width: 991px) {
  .type-395 section {
    padding: 60px 0;
  }
  .type-395 div:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .type-395 #owl-demo .item img {
    display: block;
    width: 20%;
    height: auto;
    margin-left: 70px;
  }
}
@media screen and (max-width: 320px) {
  .type-395 #owl-demo .item img {
    display: block;
    width: 20%;
    height: auto;
    margin-left: 2px;
  }
}
@media screen and (min-width: 481px) and (max-width: 699px) {
  .type-395 #owl-demo .item img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 108px;
  }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
  .type-395 #owl-demo .item img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 100px;
  }
}
@media (max-width: 767px) {
  .type-395 h2 {
    font-size: 30px;
  }
}
