.type-373 .text-center {
  background-color: #f4f5f8;
}
.type-373 .label {
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 0 15px;
  line-height: 28px;
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.type-373 .label-default {
  background-color: #ffda44;
}
.type-373 h2.title-2 {
  font-size: 40px;
  color: #093EB6;
  font-weight: bold;
  margin: 0;
  font-family: Roboto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.type-373 .spacer {
  display: block;
  clear: both;
  overflow: hidden;
}
.type-373 blockquote {
  font-style: italic;
  transition: 0.5s ease all;
}
.type-373 .home-testimonials blockquote {
  background: #ffffff;
  font-size: 19px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #677078;
  line-height: 1.684;
  text-align: left;
  border: none;
  margin: 0 0 50px;
  padding: 40px 33px;
  position: relative;
}
.type-373 h4.client-name {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #093eb6;
  font-weight: bold;
  line-height: 1.4;
  margin: 10px 0;
  text-align: center;
}
.type-373 .home-testimonials blockquote:after {
  content: close-quote;
  font-size: 0;
  display: block;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
  border-bottom: 0;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.type-373 .home-testimonials blockquote:hover {
  box-shadow: 16px 27px 49px 0px rgba(0,0,0,0.1);
}
