.type-382 .page_heading {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 54px;
}
.type-382 h1 {
  font: bold 24px Roboto;
  color: #454545;
  text-transform: uppercase;
}
.type-382 #contact_page #google_map {
  margin: 15px 0;
  border: 1px solid #e9e9e9;
  width: 100% !important;
  height: 300px !important;
  background: #e7e7e6;
}
.type-382 #contact_page #google_map img {
  max-width: none !important;
}
.type-382 #contact_page #google_map iframe {
  width: 100% !important;
  height: 300px !important;
  background: #e7e7e6;
}
.type-382 .gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}
.type-382 .gm-style .gm-style-cc span {
  font-size: 10px;
}
.type-382 .gm-style .gmnoscreen,
.type-382 .gm-style .gmnoscreen {
  display: none;
}
.type-382 canvas {
  display: inline-block;
}
.type-382 a {
  color: #454545;
  text-decoration: none;
  transform: translate3d(0,0,0);
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .type-382 .col-sm-4 {
    width: 33.33333333333333%;
    float: left;
  }
  .type-382 .col-sm-12 {
    width: 100%;
    float: left;
  }
}
