.type-382 .page_heading {
  margin: 0;
  letter-spacing: 1px;
  margin-top: 54px;
}
.type-382 .page_heading h1 {
  font: bold 24px Roboto;
  color: #454545;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .type-382 .col-sm-4 {
    width: 33.33333333333333%;
    float: left;
  }
  .type-382 .col-sm-12 {
    width: 100%;
    float: left;
  }
}
