.type-11-1 .company-image {
  position: relative;
  min-height: 370px;
}
.type-11-1 .company-image > div {
  position: absolute;
}
.type-11-1 .company-image .img-left {
  width: 62%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 312px;
}
.type-11-1 .company-image .img-right {
  width: 82%;
  right: 0;
  height: 371px;
}
.type-11-1 .company-image .img-left img,
.type-11-1 .company-image .img-right img {
  height: 100%;
  min-width: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
}
.type-11-1 .label-default {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 0 15px;
  line-height: 28px;
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.type-11-1 .hover-effect {
  width: 100%;
}
.type-11-1 .hover-effect img {
  width: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.type-11-1 .hover-effect {
  background: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 -1.5px;
}
.type-11-1 .hover-effect:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}
.type-11-1 .label-default {
  background-color: #ffda44;
}
.type-11-1 .company-image {
  position: relative;
  min-height: 370px;
}
.type-11-1 .btn-primary:hover {
  background-color: #062F8C;
}
.type-11-1 .btn-primary:hover {
  background: #002D92;
}
.type-11-1 .btn {
  background: #093EB6;
  display: inline-block;
  padding: 13px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .center-block-sm {
    display: block;
    text-align: center;
  }
  .row > div {
    margin-bottom: 30px;
  }
  .row > div:last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 787px) {
  .company-image > div.hover-effect {
    position: relative;
    top: 0;
    transform: inherit;
  }
  .company-image .img-left {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 991px) {
  .company-image {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
  }
  .company-image > div.hover-effect {
    width: auto;
  }
  .hover-effect {
    background: #000;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 -1.5px;
  }
  .hover-effect {
    width: 100%;
  }
}
