.type-320 {
  background: url(../images/bg_pattern.png) repeat;
  font-family: 'Open Sans', sans-serif;
}
.type-320 a:hover,
.type-320 a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.type-320 .panel {
  background: none;
  box-shadow: none;
}
.type-320 .panel-default {
  border: none;
}
.type-320 .panel-heading {
  border: none !important;
  background: none !important;
  padding: 20px 0 0;
}
.type-320 .panel-heading h2 {
  font-weight: 800;
  font-size: 1.8em;
}
.type-320 .panel-heading h2>span {
  font-weight: normal;
  font-size: 1em;
}
.type-320 .crossedbg {
  background: url(../images/bg_cr_grey.png);
  height: 15px;
}
.type-320 .panel-body {
  background: #fff;
}
.type-320 .list-group {
  list-style: disc;
  margin-bottom: 0;
}
.type-320 .list-group-item {
  border: none;
  border-bottom: 1px #d9d9d9 solid;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0 15px;
}
.type-320 .list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.type-320 .list-group-item:before {
  font-family: Arial, Helvetica, sans-serif;
  color: #f5ce31;
  content: "\2022";
  font-size: 2em;
  padding-right: .5em;
  position: relative;
  top: .15em;
}
.type-320 .list-group-item:last-child {
  border: none;
}
.type-320 .dep_item {
  padding: 10px;
  background: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 1px;
}
.type-320 .dep_network {
  border-left: 10px #45b29d solid;
  color: #45b29d;
}
.type-320 .dep_software {
  border-left: 10px #efc94c solid;
  color: #efc94c;
}
.type-320 .dep_graphic {
  border-left: 10px #e27a3f solid;
  color: #e27a3f;
}
.type-320 .dep_informatics {
  border-left: 10px #992255 solid;
  color: #992255;
}
.type-320 .dep_name {
  padding: 15px 0;
}
@media (min-width: 768px) {
  .type-320 .slidebar {
    width: 960px;
  }
}
@media (max-width: 480px) {
  .type-320 .slidebar {
    padding: 0;
  }
}
