.type-392 {
    .push-up{
        margin-top: -46px;
        background: white;
        border-radius: 5px;
        margin: -46px -25px 0;
        padding: 60px 25px 0;
        .over-slider {
            position: relative;
            z-index: 20;
        }
    }
    .blocks-spacer {
        margin-bottom: 30px;
    }
    .banner {
        background-color: #b0b0b0;
        background-image: linear-gradient(to bottom,#bababa,#a1a1a1);
        background-repeat: repeat-x;
        font-family: Georgia,"Times New Roman",Times,serif;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255,255,255,0.3);
        color: #585858;
        box-shadow: 0 0 0 1px #e0e0e0;
        border: 6px solid white;
        padding-top: 10px;
        padding-bottom: 10px;
        .title {
            display: block;
            font-size: 18px;
            color: white;
            text-shadow: 0 1px 0 rgba(0,0,0,0.25);
            letter-spacing: -0.05em;
            .colored {
                color: #3c5924; 
            }
        }
    }
    .banner .title {
        display: block;
        font-size: 18px;
        color: white;
        text-shadow: 0 1px 0 rgba(0,0,0,0.25);
        letter-spacing: -0.05em;
    }
    .banner.colored {
        background-color: #8cb049;
        background-image: -moz-linear-gradient(top,#9cc256,#749636);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#9cc256),to(#749636));
        background-image: -webkit-linear-gradient(top,#9cc256,#749636);
        background-image: -o-linear-gradient(top,#9cc256,#749636);
        background-image: linear-gradient(to bottom,#9cc256,#749636);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9CC256',endColorstr='#FF749636',GradientType=0);
        color: #3c5924;
    }   
    .btn-block {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }
    .btn {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 19px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 3px;
        filter: none;
        .btn-danger {
            box-shadow: 0 2px 0 #be1b2e;
            color: white;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
            background-color: #e54b5d;
            background-image: -moz-linear-gradient(top,#e54b5d,#e54b5d);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#e54b5d),to(#e54b5d));
            background-image: -webkit-linear-gradient(top,#e54b5d,#e54b5d);
            background-image: -o-linear-gradient(top,#e54b5d,#e54b5d);
            background-image: linear-gradient(to bottom,#e54b5d,#e54b5d);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE54B5D',endColorstr='#FFE54B5D',GradientType=0);
            border-color: #e54b5d #e54b5d #c71d31;
            border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }
        .btn-primary {
            box-shadow: 0 2px 0 #006d75;
            color: white;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #00becc;
            background-image: -moz-linear-gradient(top, #00becc, #00becc);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00becc), to(#00becc));
            background-image: -webkit-linear-gradient(top, #00becc, #00becc);
            background-image: -o-linear-gradient(top, #00becc, #00becc);
            background-image: linear-gradient(to bottom, #00becc, #00becc);
            background-repeat: repeat-x;
            filter: progid DXImageTransform.Microsoft.gradient(startColorstr='#FF00BECC', endColorstr='#FF00BECC', GradientType=0);
            border-color: #00becc #00becc #007780;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            background-color: #00becc;
            filter: progid DXImageTransform.Microsoft.gradient(enabled=false);
        }
        .btn-primary:hover{
            color: white;
            background-color: #00becc;
            *background-color: #00a6b3;
        }
        .btn-primary:active,
            .btn.btn-primary.active {
            background-color: #008e99 \9;
        }
        .btn-primary:hover {
            background: #00b0bd;
        }
    } 
    .light {
        font-weight: normal;

    }
    .banner:hover {
        background-position: 0 0;
        background-color: #aaaaaa;
        background-image: linear-gradient(to bottom,#b5b5b5,#9b9b9b);
        background-repeat: repeat-x;
        color: #585858;
    }
    .banner.colored:hover{
        background-color: #8db346;
        background-image: linear-gradient(to bottom,#98bf4f,#7da13a);
        background-repeat: repeat-x;

    }

    /*-----------Reponsive-----------------*/
    @media (min-width: 1200px){
        .span12 {
            width: 1170px;
        } 
    }
    @media (min-width: 1200px){
        [class*="span"] {
            float: left;
            min-height: 1px;
            margin-left: 30px;
        }
    }
    @media (min-width: 1200px){
        .span4 {
            width: 370px;
        }
    }
    @media (min-width: 1200px){
        [class*="span"] {
            float: left;
            min-height: 1px;
            margin-left: 30px;
        }
    }
}