.type-382{
    .page_heading {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 54px;
    }
    h1{
        font: bold 24px Roboto;
        color: #454545;
        text-transform: uppercase;
    }
    /*--------Googlemap--------------*/
    #contact_page {
        #google_map {
            margin: 15px 0;
            border: 1px solid #e9e9e9;
            width: 100% !important;
            height: 300px !important;
            background: #e7e7e6;
            img {
                max-width: none !important;
            }
            iframe {
                width: 100% !important;
                height: 300px !important;
                background: #e7e7e6;
            }
        }
    }
    .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
        .gm-style-cc span{
            font-size: 10px;
        }
        .gmnoscreen, .gmnoscreen {
            display: none;
        }
    }
    canvas{
        display: inline-block;
    }
    a {
        color: #454545;
        text-decoration: none;
        transform: translate3d(0, 0, 0);
        transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
    }
    /*--------------form----------------*/
    /* .rte {
         margin-top: 15px;
         margin-bottom: 15px;
         color: inherit;
     }
     .rte>* {
         max-width: 100% !important;
     }
     p {
         margin: 15px 0;
         padding: 0;
     }
     .alert-form-info {
         display: none;
         margin: 5px 0 0 0;
         font-weight: bold;
         color: #d10300;
     }
     .form-group {
         vertical-align: top !important;
         margin-top: 15px;
         margin-bottom: 0;
 
     }
     label {
         font-weight: 600px;
 
     }
     .scheme_1 input[type="text"]{
         padding: 6px;
         border: 1px solid #e9e9e9;
         font: normal 13px 'Arial';
         color: #454545;   
         box-sizing: border-box;   
         border-radius: 4px;
         box-shadow: none;
     }
     .form-control {
         display: block;
         width: 100%;
         height: 34px;
         background-color: #ffffff;
         background-image: none;
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
     }
     contact-form{
         textarea {
             width: 100%;
             .form-control {
                 min-width: 100%;
                 max-width: 100%;
                 min-height: 100px;
             }
         }
     }
     scheme_1 textarea, .scheme_1 textarea.form-control{
         padding: 6px;
         border: 1px solid #e9e9e9;
         font: normal 13px 'Arial';
         color: #454545;       
         box-sizing: border-box;
         border-radius: 4px;
         box-shadow: none;
     }
     .btn-alt{
         background: #4a9fd5 !important;
         border-color: #4a9fd5 !important;
     }
     .btn{
         padding: 7px 10px;
         font-size: 12px;
         letter-spacing: 1px;
         color: #fff !important;
         text-transform: uppercase;
         border-radius: 30px;
         box-shadow: none !important;
         transform: translate3d(0, 0, 0);   
         transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
     }
     .btn {
         display: inline-block;
         margin-bottom: 0;
         font-weight: normal;
         line-height: 1.428571429;
         text-align: center;
         white-space: nowrap;
         vertical-align: middle;       
         border: 1px solid transparent;
         border-radius: 4px;
         user-select: none;
     }
     .row:before, .row:after {
         display: table;
         content: " ";
     }
     row:after {
         clear: both;
     }
     .btn-toolbar:before, .btn-toolbar:after {
         display: table;
         content: " ";
     }*/
    /*----------Reponsive------------*/
    @media (min-width: 960px){
    }
    @media (min-width: 768px){
        .col-sm-4 {
            width: 33.33333333333333%;
            float: left;
        }
        .col-sm-12 {
            width: 100%;
            float: left;
        }
    }
    @media (max-width: 480px){      
    }
}