.type-383{
    @color: #60ca64;
    ul,li {
        list-style: none;
    }
    a {
        color: #454545;
        text-decoration: none;        
        transform: translate3d(0, 0, 0);        
    }
    a:hover {
        color: #888888 !important;
    }
   .main_content .breadcrumb {
        margin: 0;
        padding: 7px 15px;
        background: rgba(0,0,0,0.1);   
        border-radius: 5px;
    }
    .breadcrumb > li {
        display: inline-block;
    }
       
    @media (min-width: 960px){
        
       
    }
    @media (min-width: 768px){
        
    }
    @media (max-width: 480px){      
       
        
    }
    
}