.type-302 {
  background-image: url('../images/bg_pattern.png');
}
.type-302 .clear {
  clear: both;
}
.type-302 .slideshow {
  width: 960px;
}
.type-302 .slideshow .slider-control {
  position: absolute;
  font-size: 20px;
  color: #000;
  top: 40%;
  background-color: #fff;
  padding: 10px;
}
.type-302 .slideshow .slider-control.left {
  left: 0;
  padding-left: 0;
  -webkit-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
.type-302 .slideshow .slider-control.left:hover {
  text-decoration: none;
  padding-left: 10px;
}
.type-302 .slideshow .slider-control.right {
  right: 0;
  padding-right: 0;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.type-302 .slideshow .slider-control.right:hover {
  text-decoration: none;
  padding-right: 10px;
}
.type-302 .carousel-caption {
  background: #f5ce31;
  height: 100px;
  color: black;
  position: absolute;
  left: 0;
  bottom: -100px;
  padding-top: 0px;
  width: 100%;
  font-size: 0.8em;
  width: 350px;
  bottom: 0px;
}
.type-302 .carousel-caption h2 {
  font-family: inherit;
  font-weight: 800;
  font-size: 1.8em;
  line-height: 1.2em;
}
.type-302 .carousel-caption h2 span {
  font-weight: normal;
  font-size: 1em;
}
.type-302 .carousel-caption:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 15px;
  background: url(../images/bg_cr_grey.png) repeat;
  left: 0;
}
