/*Color*/
@color_black: #000;
@color_white: #fff;
@color_orange: #ff9933;
@color-green: rgb(96, 202, 100);
.type-386{
    .header {
        a {
            color: @color_white;
        }
        a:hover, a:focus {
            color: @color_orange;
            text-decoration: none;
        }
        img{
            max-width: 100%;
        }
        /*Header*/
        #lms_header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            clear: both;
            background: rgba(255,255,255,0.1);
            min-height: 94px;
            z-index: 99999;
            -webkit-transition: all 0.3s;
        }
        .lms_header_top {
            float: left;
            width: 100%;
            padding: 10px 0px;  
            border-bottom: 1px solid rgb(255, 255, 255);
            background:@color-green;
        }   
        /*Logo*/
        .logo{
            text-align: center;
            padding: 20px 0;
        }
        /*Header Top*/
        .lms_any_que_wrapper {
            float: left;
            width: 100%;
            padding: 20px 0;
            p {
                float: left;
                color: #ababab;
                padding-right: 10px;
                margin: 0px;
            }   
            a{
                font-size: 12px;
                margin-right: 5px;
            }
        }
        .lms_login_wrapper {
            float: left;
            width: 100%;
            padding: 20px 0;
            ul {
                margin: 0px;
                padding: 0px;
                float: right;
                li {
                    list-style: none;
                    float: left;
                    margin: 0px 10px;
                    a {
                        text-decoration: none;
                        text-transform: capitalize;
                        color: @color_white;
                        -webkit-transition: all 0.3s;
                        span {
                            display: inline-block;
                            width: 22px;
                            line-height: 22px;
                            text-align: center;
                            font-size: 16px;
                            margin-top: -8px;
                            margin-left: -9px;
                            vertical-align: top;
                            box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 0px;
                            border-radius: 50%;
                            background: rgb(74, 159, 213);
                        }
                    }
                    a:hover {
                        color: @color_orange;
                    }
                }
                li:last-child {
                    margin-right: 0px;
                }
            }
        } 

        /*Header*/
        #lms_header > .container {
            height: 100px;
            margin-bottom: -108px;
            position: relative;
            display: table;
            -webkit-transition: all 0.3s;
        }

        /*Button menu toggle*/
        .lms_menu_toggle {
            position: absolute;
            top: 35px;
            right: 0px;
            float: right;
            -webkit-transition: all 0.3s;
            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                border: 1px solid @color_white;
                border-radius: 3px;
                color: @color_white;
                font-size: 30px;
                cursor: pointer;
            }
            a:hover {
                color: @color_white;
            }
        }
        .btn-responsive-nav {
            border: 1px solid @color_white;
            border-radius: 4px;
            background-color: transparent;
            top: 35px;
            display: block;
            position: absolute;
            right: 20px;            
        }
        .btn-responsive-nav:hover, .btn-responsive-nav:active, .btn-responsive-nav:focus {
            color: @color_orange;
            border-color: @color_orange;
        }

        /*Menu*/    
        #lms_header > .navbar-collapse > .container {
            position: relative;
        }
        #lms_header nav {
            float: left;
            margin-right: 50px;
        }
        #lms_header nav ul.nav-main li a {
            display: block;
            color: @color-green;
            font-size: 17px;
            font-style: normal;
            line-height: 20px;
            margin-left: 3px;
            margin-right: 3px;
            text-transform: capitalize;
            font-weight: 400;
            cursor: pointer;
            padding: 39px 13px;
            border-bottom: 3px solid rgba(255,255,255,0);
            -webkit-transition: all 0.3s;
            background-color: transparent;
        }
        #lms_header nav ul.nav-main li a:hover {
            color: @color_orange;       
            background-color:transparent;
        }
        #lms_header nav ul.nav-main li ul a {
            text-transform: none;
            font-weight: normal;
            font-size: 0.9em;
        }
        #lms_header nav ul.nav-main li.dropdown:hover > ul {
            display: block;
        }
        #lms_header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
            border-radius: 5px 5px 0px 0px;
        }
        #lms_header nav ul.nav-main li.active a {
            color: @color_orange;
            border-bottom: 3px solid @color_orange;
        }
        #lms_header nav ul.nav-main ul.dropdown-menu {
            background-color: @color_white;
            border: 0;
            min-width: 200px;
            margin: 0px 0 0 3px;
            padding: 5px;
            top: auto;
            border-bottom: 2px solid @color_orange;
        }
        #lms_header nav ul.nav-main ul.dropdown-menu li:hover > a {
            filter: none;
            color: @color_orange;
        }
        #lms_header nav ul.nav-main ul.dropdown-menu li:last-child > a {
            border-bottom: 0;
        }
        #lms_header nav ul.nav-main ul.dropdown-menu > li > a {
            color: #1a1a1a;
            font-weight: 400;
            padding-bottom: 4px;
            padding-top: 4px;
            text-transform: none;
            position: relative;
            padding: 8px 10px 8px 5px;
            font-size: 14px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        #lms_header nav ul.nav-main .dropdown-submenu {
            position: relative;
        }
        #lms_header nav ul.nav-main li.dropdown ul.dropdown-menu li.dropdown-submenu > .dropdown-menu, #lms_header nav ul.nav-main li.dropdown ul.dropdown-menu li.dropdown-submenu .dropdown-menu .dropdown-submenu .dropdown-menu{
            top: 0;
            left: 100%;
            margin-top: -5px;
            margin-left: -1px;
        }
        #lms_header nav ul.nav-main li.dropdown ul.dropdown-menu li.dropdown-submenu a:after{
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #cccccc;
            margin-top: 5px;
            margin-right: -10px;
        }
        #lms_header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .lms_mobile_header {
            position: relative !important;

            min-height: 65px !important;
        }
        .lms_fixed_header {
            position: fixed !important;
            background: #1a1a1a !important;
            left: 0;
            min-height: 65px !important;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;        
        } 
        .lms_fixed_header > .container {
            height: 65px !important;
            margin-bottom: -66px !important;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
        .lms_fixed_header nav > ul.nav-main > li > a {
            padding: 22px 13px !important;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
        .lms_fixed_header .lms_search_toggle {
            top: 16px !important;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            a {
                width: 30px;
                height: 30px;
                line-height: 30px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
            }
        }

        /* Header Mega Menu */
        #lms_header nav.mega-menu .nav, #lms_header nav.mega-menu .dropup, #lms_header nav.mega-menu .dropdown, #lms_header nav.mega-menu .collapse {
            position: static;
        }
        #lms_header nav.mega-menu ul.nav-main .mega-menu-content {
            text-shadow: none;
        }
        #lms_header nav.mega-menu .dropdown-menu {
            left: auto;   
        }
        #lms_header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
            background: @color_white;
            border-top: 1px solid rgba(255,255,255,0.2);
            color: #1a1a1a;
            width: 100%;
        }
        #lms_header nav.mega-menu .mega-menu-content {
            padding: 20px 30px;
        }
        #lms_header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
            color: #CBCBCB;
            display: block;
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 25px;
            text-transform: uppercase;
        }
        #lms_header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu li {
            .blog_date {
                color: rgb(96, 202, 100);
                text-transform: uppercase;
            }
            .blog_title a{
                color: rgb(69, 69, 69);
                text-decoration: none;
                transform: translate3d(0px, 0px, 0px);
                text-transform: uppercase;
                transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
            }
            .blog_title a:hover{
                color:@color-green !important;
            }
            .blog_content{
                padding-bottom: 15px;
            }
            .btn {
                width: 40%;
                padding: 7px 10px;
                background: #4a9fd5 !important;
                border-color: #4a9fd5 !important;
                font-size: 12px;
                letter-spacing: 1px;
                color: #fff !important;
                text-transform: uppercase;                
                border-radius: 50px;               
                box-shadow: none !important;               
                transform: translate3d(0, 0, 0);                
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;                
                border: 1px solid transparent;
            }
            .btn:hover{
                 background: @color-green !important;
                border-color: @color-green !important;
            }
        } 
        #lms_header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu li a {
            color: #1a1a1a;
            text-shadow: none;
            margin: 0 0 0 -8px;
            padding: 8px 8px;
            text-transform: none;
            font-size: 14px;
            display: block;
            font-weight: normal;
        }
        #lms_header nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover {
            color: @color_orange;
            text-decoration: none;
        }
        ul.dropdown-menu li {
            list-style: none;
        }
        #lms_header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        #lms_header nav ul.nav-main ul.sub-menu {
            padding: 0;
            margin: 0 0 10px 0;
            li a {
                padding: 9px 8px;
            }
        } 
        #lms_header nav.mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
            width: 100%;
            left: 0;
            right: 0;
        }

        /*Search*/
        .lms_search_toggle {
            position: absolute;
            top: 30px;
            right: 10px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            a {
                width: 40px;
                height: 40px;
                line-height: 55px;
                text-align: center;
                color: @color_white;
                display: inline-block;
                -webkit-transition: all 0.3s;
            }
        } 
        .lms_search_wrapper {
            display: none;
            position: absolute;
            top: 100%;
            right: 15px;
            width: auto;
            height: auto;
            padding: 25px;
            margin-top: 1px;
            background: rgba(240, 240, 240, 1);
            min-width: 248px;
            input {
                border: 1px solid #9EA6B0;
                height: 40px;
                width: 100%;
                padding-left: 10px;
                outline: none;
                background-color: @color_white; 
            }
        }
        .lms_search_wrapper input:hover, .lms_search_wrapper input:focus{
            border-color: #9EA6B0;
        }

        /* Dành cho điện thoại */
        @media all and (min-width: 767px) {
            .image{
                width: 100%;
            }
            .btn-responsive-nav {
                display: none;
            }
            .navbar-collapse.collapse {
                display: block !important;
                height: auto !important;
                padding-bottom: 0;
                overflow: visible !important;
            }

        }
        @media (max-width: 991px) {
            /*Header_Top*/
            #lms_header {
                clear: both;
                position: relative;               
            }
            #lms_header > .container {
                width: 100%;
                margin-bottom: 0;
            }
            .lms_any_que_wrapper {
                text-align: center;
                p {
                    float: none;
                    padding-right: 0px;
                }
                a{
                    font-size: 10px;
                }
            }
            .lms_login_wrapper {
                text-align: center;
                ul {
                    padding: 20px 0px 0px 0px;
                    float: none;
                    display: inline-block;
                }
            }
            
            /*Search toggle*/
            .lms_search_toggle {
                display: none;
            }

            /*Menu toggle*/  
            #lms_header .nav-main-collapse {
                top: 8px;
                position: relative;               
                max-height: none;
            }
            #lms_header .nav-main {
                padding: 10px 0;
                clear: both;
                display: block;
                float: none;
                width: 100%;
                ul li {
                    padding: 0;
                    margin: 0;
                    clear: both;
                    float: none;
                    display: block;
                    border-bottom: 1px solid @color-green;
                }
                ul li:last-child {
                    border-bottom: none;
                }
                ul ul {
                    margin-left: 20px !important;
                }
                ul.nav-main {
                    float: none;
                    position: static;
                    margin: 8px 0;
                    margin-right: -10px;
                }
                ul.dropdown-menu {
                    position: static;
                    clear: both;
                    float: none;
                }
            }
            #lms_header .nav-main li.resp-active > ul.dropdown-menu {
                display: none !important;
            }
            #lms_header nav ul.nav-main li a {
                clear: both;
                float: none;
                display: block;
                padding: 9px 8px;
                margin: 0;
                border-bottom: none !important;
            }
            .dropdown-menu:before {
                position: absolute;
                content: "";
                top: -2px;
                left: 0;
                width: 100%;
                height: 1px;
                margin-bottom: 2px !important;
                border-top: 1px solid @color_white;
            }
            #lms_header nav ul.nav-main ul.dropdown-menu {
                background: none !important;
                background-color: transparent !important;
                box-shadow: none;
                #lms_header nav ul.nav-main ul.dropdown-menu li > a {
                    padding: 9px 8px;
                    border: 0;
                    border-top: 0;
                    margin: 0;
                }
            }
            #lms_header nav ul.nav-main .dropdown > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #FFF;
                margin-top: 5px;
                margin-right: -10px;
            }

        }

        /* Dành cho máy tính bảng chi�?u d�?c */
        @media all and (min-width: 600px) {}

        /* Dành cho máy tính bảng chi�?u ngang */
        @media all and (min-width: 1024px) {}

        /* Dành cho màn hình desktop */
        @media all and (min-width: 1280px) {}
    }
}
/* END MODULE TEST */

