.type-365{
    @color:#60ca64;
    @color1:#4a9fd5;
    @font-size:14px;
    @color-white:#fff;
    @line-height:30px;
    @media (min-width: 768px){
        .col-col-3 {
            width: 25%;
            float:left;
        } 
    }
    footer {
        margin: 30px 0 0 0;
        background: #f5f5f5;
        padding: 41px 0px 0;
        .footer_block {
            padding-bottom: 56px;
            .footer_contacts {
                margin-bottom: -3px;
                text-decoration: none;
                li {
                    font-size: @font-size;
                    line-height: @line-height;
                }
                .contacts_phone div {
                    display: inline-block;
                    line-height: @line-height;

                }
                .contacts_company {
                    display: inline-block;
                }
                .contacts_email a {
                    color: @color1;
                }
                .contacts_email a:hover {
                    color:@color;
                }
                .contacts_phone a:hover {
                    color: @color;
                }
            }
            .footer_social {
                margin-top: 24px;
                li {
                    display: inline-block;
                }
            }
            .footer_social li a {
                font-size: 24px;
            }
            .footer_social li a:hover {
                color:@color;
            }

        }
        .footer_links li a {
            color: @color1;
            font-size: @font-size;
            line-height:@line-height;
            text-decoration: none;
        }
        .footer_links li a:hover {
            color: @color;
        }
        .copyright {
            background: @color;
            a:hover {
                color: @color1;
            }
        }
        .copyright p {
            color:@color-white;
            font-size:@font-size;
        }
        .copyright a {
            color: @color-white;
        }
        .footer_links c a:hover {
            color: @color;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    a{
        color: #454545;
        text-decoration: none;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        padding-right: 20px;
        margin-top: 5px;
    }
    p {
        margin: 15px 0;
        padding: 0;
    }
    /*----------Reponsive----------*/
    @media (max-width: 767px){
        footer{
            .footer_block {
                padding-bottom: 30px;
            }
        }
    }
    @media (min-width: 768px){
        .col-sm-3 {
            width: 25%;
            float: left;
        }
    }
}







