@color: #333333;
@color-font:#e5e5e5;
.type-4{    
    .push-up{
        margin-top: -46px;
        background: white;
        border-radius: 5px;
        margin: -46px -25px 0;
        padding: 60px 25px 0;
        .over-slider {
            position: relative;
            z-index: 20;
        }
    }
    .blocks-spacer {
        margin-bottom: 30px;
    }
    .banner {
        background-color: #b0b0b0;
        background-image: linear-gradient(to bottom,#bababa,#a1a1a1);
        background-repeat: repeat-x;
        font-family: Georgia,"Times New Roman",Times,serif;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255,255,255,0.3);
        color: #585858;
        box-shadow: 0 0 0 1px #e0e0e0;
        border: 6px solid white;
        padding-top: 10px;
        padding-bottom: 10px;
        .title {
            display: block;
            font-size: 18px;
            color: white;
            text-shadow: 0 1px 0 rgba(0,0,0,0.25);
            letter-spacing: -0.05em;
        }
        .colored {
            background-color: #8cb049;
            background-image: linear-gradient(to bottom,#9cc256,#749636);
            background-repeat: repeat-x;
            color: #3c5924;
        }
    }
    .btn {
        filter: none;
        margin-bottom: 0px;
        font-size: 13px;
        line-height: 19px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 3px;
    }
    .btn-block {
        display: block;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }
    .light {
        font-weight: normal;
    }
    em {
        font-style: italic;
    }
    .main-titles {
        position: relative;
        margin-bottom: 15px;
        font-weight: bold;
        padding-bottom: 16px;
        .title {
            margin: 0;
            font-size: 20px;
        }
        .arrows {
            position: absolute;
            top: 2px;
            right: 0;
            bottom: 0;
            word-spacing: -2px;
            a {
                line-height: 17px;
                background-color: #c3c2c4;
                color: #fff;
                font-size: 8px;
                padding: 0 6px;
                border-radius: 2px;
                transition: background 0.2s ease;
            }
            a:hover {
                background-color: #333333;
                text-decoration: none;
            }
        }
    }
    h2{
        color: #34353e;
        line-height: 1.2;
        letter-spacing: -0.03em;
    }
    .icon-chevron-left::before {
        content: "";
    }
    icon-chevron-right::before {
        content: "";
    }
    [class^="icon-"]::before{
        text-decoration: inherit;
        display: inline-block;
        speak: none;
        font-family: FontAwesome;
    }
    .carouFredSel {
        text-align: left;
        float: none;
        position: absolute;
        top: 0px;
        right: auto;
        bottom: auto;
        left: 0px;
        margin: 0px;
        width: 5850px;
        height: 350px;
        .slide {
            width: 1170px;
            margin-right: 0px;
            float: left;
        }
    }
    caroufredsel_wrapper{
        display: block;
        text-align: start;
        float: none;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: auto;
        width: 1170px;
        height: 350px;
        margin: 0px;
        overflow: hidden;
    }

    .product-img{
        margin-bottom: 15px;
        .featured {
            background: url(../images/shelf.png?1390384914) no-repeat center bottom;
            background-size: 100% auto;
            padding-bottom: 14%;
            .picture {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                text-align: center;
                img {
                    margin-bottom: 0;
                }
            }
        }
    }
    a {
        color: #00becc;
    }
    /*------reponsive------*/
    @media (min-width: 1200px){
        .span12 {
            width: 1170px;
        }
        .span4 {
            width: 370px;
        }
    }
    @media (min-width: 1200px){
        [class*="span"] {
            float: left;
            min-height: 1px;
            margin-left: 30px;
        }
    }
}









