.type-338 {
  background: url(../images/bg_pattern.png) repeat;
}
.type-338 #catenav {
  background: #f5ce31;
  margin: 55px 0 25px;
}
.type-338 #catenav h4 {
  font-size: 1em;
  padding: 15px 0;
  margin: 0;
  line-height: 20px;
  font-weight: bold;
  display: inline-block;
}
.type-338 #catenav a {
  color: #000;
}
@media (min-width: 768px) {
  .type-338 .special {
    width: 960px;
  }
  .type-338 .navbar-nav {
    padding: 0;
  }
  .type-338 .auto-width {
    width: auto;
  }
}
@media (max-width: 768px) {
  .type-338 .navbar-nav {
    padding: 0 15px;
  }
}
