.type-372 {
  padding-top: 10px;
}
.type-372 a {
  text-decoration: none;
}
.type-372 p {
  color: #677078;
  font-size: 16px;
  line-height: 1.688;
  margin-bottom: 20px;
  margin: 0 0 10px;
}
.type-372 .hover-effect {
  width: 100%;
  background: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 -1.5px;
}
.type-372 .hover-effect img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease all;
  backface-visibility: hidden;
}
.type-372 h4.subtitle {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #093eb6;
  font-weight: bold;
  line-height: 1.4;
  margin: 20px 0;
}
.type-372 .hover-effect {
  background: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 -1.5px;
}
.type-372 .hover-effect {
  width: 100%;
}
.type-372 a.hover-effect {
  display: block;
}
.type-372 a.link {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #ffda44;
  font-weight: bold;
  text-transform: uppercase;
}
.type-372 a.link:hover {
  color: #E7C63D;
}
.type-372 .hover-effect img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease all;
  backface-visibility: hidden;
}
.type-372 .hover-effect {
  background: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 -1.5px;
}
.type-372 .hover-effect:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}
@media (min-width: 960px) {
  .company-image {
    position: relative;
    min-height: 370px;
  }
  .company-image .img-left img,
  .company-image .img-right img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  .company-image .img-left {
    width: 62%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 312px;
  }
  .company-image .img-right {
    width: 82%;
    right: 0;
    height: 371px;
  }
}
@media (max-width: 960px) {
  .col {
    text-align: center;
  }
}
