.type-368 .page_heading {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 54px;
}
.type-368 a {
  font-weight: inherit;
  color: #454545;
  text-decoration: none;
}
.type-368 img {
  max-width: 100%;
}
.type-368 .blog_listing__article {
  margin: 30px 0 0 0;
}
.type-368 .blog_listing__article .article_title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #282f40;
  text-transform: none;
}
.type-368 .blog_listing__article .article_body {
  margin: 30px 0;
}
.type-368 .blog_listing__article .article_content {
  margin: 15px 0 0 0;
}
.type-368 .blog_listing__article .article_footer .blog_tags {
  margin: -10px 0 30px 0;
}
.type-368 .blog_listing__article .article_footer .blog_tags a {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px;
  background: #4a9fd5;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
}
.type-368 .blog_listing__article .article_footer .blog_tags a:hover {
  background: #60ca64;
  color: #fff;
}
.type-368 .blog_listing__article .article_footer .btn:hover {
  background: #60ca64 !important;
  border-color: #60ca64 !important;
}
.type-368 .article_info {
  margin: 15px 0 0 0;
}
.type-368 .article_info span {
  margin: 0 0 0 12px;
  padding: 0 0 0 12px;
  border-left: 1px solid #e9e9e9;
  font-size: 12px;
}
.type-368 .article_date:before {
  content: '\f073';
  margin: 0 5px 0 0;
  font: 14px 'FontAwesome';
}
.type-368 .blog_tags a:before {
  content: '\f02b';
  margin: 0 5px 0 0;
  font: 13px 'FontAwesome';
  color: #fff;
}
.type-368 .rte {
  color: inherit;
}
.type-368 p {
  padding: 0;
}
.type-368 .btn {
  padding: 7px 10px;
  background: #4a9fd5 !important;
  border-color: #4a9fd5 !important;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: none !important;
  transform: translate3d(0,0,0);
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
