.type-351 {
  background: #7e9399;
}
.type-351 .news-item {
  background: #e6e6e6;
  background: rgba(255,255,255,0.6);
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 15px;
}
.type-351 .published {
  text-transform: uppercase;
  margin-top: 9px;
  font-size: 11px;
  padding-left: 10px;
  float: right;
}
.type-351 a:hover {
  color: #636475;
}
.type-351 h6 a {
  color: #34353e;
  font-weight: bold;
}
.type-351 .swiper-slide {
  padding-bottom: 15px;
  padding-top: 15px;
}
.type-351 .title {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.type-351 .light {
  font-weight: 600;
}
.type-351 .swiper-button-next,
.type-351 .swiper-button-prev {
  position: absolute;
  top: 25%;
  width: 27px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 960px) {
  .type-351 .swiper-button-next,
  .type-351 .swiper-button-prev {
    margin-top: -3%;
  }
  .type-351 .swiper-button-prev {
    margin-left: 30%;
  }
  .type-351 .swiper-button-next {
    margin-right: 30%;
  }
}
@media (max-width: 768px) {
  .type-351 .swiper-button-next,
  .type-351 .swiper-button-prev {
    margin-top: -8%;
  }
  .type-351 .swiper-button-prev {
    margin-left: 30%;
  }
  .type-351 .swiper-button-next {
    margin-right: 30%;
  }
}
@media (max-width: 480px) {
  .type-351 .swiper-button-next,
  .type-351 .swiper-button-prev {
    margin-top: -27%;
  }
  .type-351 .swiper-button-prev {
    margin-left: 20%;
  }
  .type-351 .swiper-button-next {
    margin-right: 20%;
  }
}
