.type-103 {
  border-top: 5px solid #f0d898;
}
.type-103 .copyright {
  background: #512d1f;
  color: #fff;
  padding: 15px;
  font-size: 11px;
}
.type-103 .copyright p {
  padding: 30px 0;
}
.type-103 .copyright .logo-cert {
  width: 100%;
  padding: 0;
}
.type-103 .copyright .logo-cert img {
  padding: 0 8px;
}
.type-103 .copyright img:hover {
  opacity: 0.5;
}
.type-103 .copyright .dropbtn {
  background-color: #d5d0cc;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.type-103 .copyright .carousel-control.left,
.type-103 .copyright .carousel-control.right {
  background-image: none;
}
.type-103 .copyright .carousel-inner {
  margin: auto;
  width: 90%;
}
.type-103 .copyright .carousel-control {
  width: 4%;
  top: 25px;
}
.type-103 .copyright .fa {
  font-size: 30px;
}
.type-103 .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.type-103 .owl-carousel .owl-item {
  float: left;
}
.type-103 .owl-controls .owl-page,
.type-103 .owl-controls .owl-buttons div {
  cursor: pointer;
}
.type-103 img {
  width: 60%;
}
@media (min-width: 992px) {
  .type-103 .dropbtn {
    display: none;
  }
  .type-103 p {
    float: right;
  }
  .type-103 .logo-cert {
    float: left;
  }
}
@media (max-width: 992px) {
  .type-103 .dropbtn {
    border-radius: 7px;
  }
  .type-103 .logo-cert {
    display: none;
    background: #f1f0f0;
  }
  .type-103 .dropdown:hover .logo-cert {
    display: block;
  }
  .type-103 .dropdown:hover .dropbtn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media (max-width: 768px) {
  .type-103 .active .demo {
    display: none;
  }
  .type-103 .active .demo:first-child {
    display: block;
  }
  .type-103 .copyright {
    padding: 0 !important;
  }
  .type-103 .copyright p {
    text-align: center;
    padding: 15px 0px !important;
  }
  .type-103 .carousel-inner {
    margin-bottom: 15px;
  }
  .type-103 img {
    width: 45% !important;
  }
  .type-103 .logo {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .type-103 img {
    width: 35% !important;
  }
}
