.type-344 {
  background: #fff;
  padding: 15px;
  font-size: 11px;
}
.type-344 p {
  padding: 30px 0;
}
.type-344 .logo-cert {
  width: 100%;
  padding: 0;
}
.type-344 .logo-cert img {
  padding: 0 8px;
}
.type-344 img:hover {
  opacity: 0.5;
}
.type-344 .dropbtn {
  background-color: #d5d0cc;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.type-344 .carousel-control.left,
.type-344 .carousel-control.right {
  background-image: none;
}
.type-344 .carousel-inner {
  margin: auto;
  width: 90%;
}
.type-344 .carousel-control {
  width: 4%;
  top: 25px;
}
.type-344 .fa {
  font-size: 30px;
}
.type-344 .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.type-344 .owl-carousel .owl-item {
  float: left;
}
.type-344 .owl-controls .owl-page,
.type-344 .owl-controls .owl-buttons div {
  cursor: pointer;
}
.type-344 img {
  width: 100%;
}
.type-344 .main-titles {
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
  padding-bottom: 16px;
}
.type-344 .main-titles .title {
  margin: 0;
  font-size: 20px;
}
.type-344 .light {
  font-weight: normal;
  color: #888;
}
.type-344 .main-titles.lined:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 1px;
  background-color: #e0e0e0;
}
.type-344 .owl-nav {
  position: absolute;
  top: -7%;
  right: 0%;
  display: inline-flex;
}
.type-344 .owl-nav .owl-next,
.type-344 .owl-nav .owl-prev {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 2px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #888;
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.type-344 .owl-next:hover,
.type-344 .owl-prev:hover {
  background-image: linear-gradient(#fff,#000);
}
@media (min-width: 992px) {
  .type-344 .dropbtn {
    display: none;
  }
  .type-344 p {
    float: right;
  }
  .type-344 .logo-cert {
    float: left;
  }
}
@media (max-width: 992px) {
  .type-344 .dropbtn {
    border-radius: 7px;
  }
  .type-344 .logo-cert {
    display: none;
    background: #f1f0f0;
  }
  .type-344 .dropdown:hover .logo-cert {
    display: block;
  }
  .type-344 .dropdown:hover .dropbtn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media (max-width: 768px) {
  .type-344 .active .demo {
    display: none;
  }
  .type-344 .active .demo:first-child {
    display: block;
  }
  .type-344 .carousel-inner {
    margin-bottom: 15px;
  }
  .type-344 img {
    width: 100% !important;
  }
  .type-344 .logo {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .type-344 img {
    width: 100% !important;
  }
}
