.type-329 {
  background: url(../images/bg_pattern.png);
}
@media (min-width: 768px) {
  .type-329 .container {
    width: 960px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .type-329 .col-md-5 {
    width: 41.66666667%;
    float: left;
  }
}
@media (min-width: 992px) {
  .type-329 .col-md-12 {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .type-329 .col-md-2 {
    width: 16.66666667%;
    float: left;
  }
}
@media (min-width: 768px) {
  .type-329 .program h3 {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .type-329 .program .desc {
    padding-right: 15%;
  }
}
@media (min-width: 768px) {
  .type-329 .flag {
    font-size: 4vw;
    padding: 0;
  }
}
@media (min-width: 768) {
  .type-329 .flagtri {
    width: 50%;
    float: left;
  }
}
.type-329 .heading h1 {
  font-weight: bold;
  float: left;
  margin: 0;
  margin-left: 10px;
  margin-bottom: -6px;
  display: inline-block;
}
.type-329 .heading h1 span {
  font-weight: normal;
  font-size: 0.6em;
}
.type-329 .heading {
  clear: both;
}
.type-329 .programmer {
  position: relative;
  overflow: hidden;
  margin: 50px 0;
  clear: both;
}
.type-329 .program:after {
  content: "";
  position: absolute;
  background: black;
  height: 5px;
  left: 1.5%;
  right: 1.5%;
  top: -5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.25);
}
.type-329 .program h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 25px;
}
.type-329 .desc {
  text-align: justify;
}
.type-329 .f-college {
  background: #c02e25;
}
.type-329 .f-vocational {
  background: #258b77;
}
.type-329 .f-collegetrans {
  background: #d69200;
}
.type-329 .f-courses {
  background: #992255;
}
.type-329 .f-corp {
  background: #106982;
}
.type-329 .flag {
  position: relative;
  color: white;
  font-weight: bold;
  text-align: center;
}
.type-329 .flag span {
  line-height: 2em;
}
.type-329 .flagtri {
  width: 100%;
  height: 0;
  padding-left: 50%;
  padding-bottom: 30%;
  overflow: hidden;
}
.type-329 .flagtri:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 300px solid #f5f5f5;
}
.type-329 .program ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.type-329 .program ul li {
  padding: 2px 0;
  font-size: 1.15em;
}
.type-329 .college {
  color: #c02e25;
}
.type-329 .college1 a {
  color: #c02e25;
}
.type-329 .vocational {
  color: #258b77;
}
.type-329 .vocational1 a {
  color: #258b77;
}
.type-329 .collegetrans {
  color: #d69200;
}
.type-329 .collegetrans1 a {
  color: #d69200;
}
.type-329 .courses {
  color: #992255;
}
.type-329 .corp {
  color: #106982;
}
