.type-5 .boxed-area {
  background: url(../images/box-bg.jpg) repeat;
  background: url(../images/jagged-border-top.png) repeat-x top, url(../images/jagged-border-bot.png) repeat-x bottom, url(../images/box-bg.jpg) repeat;
  padding: 40px 0 10px;
}
.type-5 .boxed-area .blocks-spacer {
  margin-bottom: 20px;
}
.type-5 .boxed-area .picture img {
  border-radius: 3px;
}
.type-5 .blocks-spacer {
  margin-bottom: 30px;
}
.type-5 .main-titles {
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
  padding-bottom: 16px;
}
.type-5 .main-titles .title {
  margin: 0;
  font-size: 20px;
}
.type-5 .popup-products {
  margin-top: 10px;
}
.type-5 .popup-products .product {
  border-radius: 2px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}
.type-5 .light {
  font-weight: normal;
}
.type-5 .light h2 {
  color: #34353e;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
.type-5 .main-titles.lined:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 1px;
  background-color: #e0e0e0;
}
.type-5 .product-img {
  margin-bottom: 15px;
}
.type-5 .picture {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.type-5 .picture img {
  width: 100%;
}
.type-5 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
@media (max-width: 767px) {
  .type-5 .boxed-area {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .type-5 .span12 {
    width: 1170px;
  }
  .type-5 .span3 {
    width: 270px;
  }
  .type-5 [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
}
@media (min-width: 980px) {
  .type-5 .product .picture img {
    margin-bottom: 0;
  }
}
